{% from "includes/scripts.jinja" import input, checkbox with context %}
{% extends "layouts/auth.jinja" %}
{% set title = "Forgot Password" %}
{% set heading = "Forgot Password" %}

{% block form %}
<div class="w-full max-w-lg px-6 mb-4">
  {% include "includes/flash_alerts.jinja" %}
</div>
<form action="" id="forgotPasswordForm" method="POST" class="w-full max-w-lg mt-4 px-6">
  {{ form.csrf_token }}
  <div class="mb-6">
    {{ input(form.email) }}
  </div>
  {{ form.submit(class_="w-full") }}
</form>
{% endblock form %}

{% block footnote %}
<p class="text-sm lg:text-base">
  Found your password?
  <a href="{{ url_for('account.login') }}">Sign In</a>
</p>
{% endblock footnote %}
