{% extends "layouts/mail.jinja" %}
{% set title = "Password Reset" %}
{% set icon = "IconKey" %}


{% block content %}
<h1>Forgot your password?</h1>
<p class="subtitle">
  We've received a request to reset the password for your account.
  No changes has been made to your account yet.
</p>
<p>You can reset your password by clicking the link below:</p>
<button>Reset your password</button>
<p class="small">
  If your didn't request a password reset, you can ignore this
  email. Your password will not be changed.
</p>
{% endblock %}
