{% extends "layouts/error.jinja" %}
{% set title = "Bad Request" %}
{% set error_code = "400" %}

{% block content %}
<p>This page isn't working at the moment.</p>
{% endblock content %}

{% block button %}
<a href="/" class="btn btn-primary">Back to Home</a>
{% endblock button%}